@model StaffManagementSystem.Models.ShiftSwap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShiftSwap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedShiftId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedShiftId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProposedShiftId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProposedShiftId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
